 body{
            font-family: Arial, sans-serif;
        }

        .hero{
            /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) */
            background-image: url("/png/bg-weather.png");
            
            background-size: cover;
            background-position: center;
            height:100vh;
            color:white;
            display:flex;
            align-items:center;
        }

        .feature-card{
            transition:.103s;
        }

        .feature-card:hover{
            transform:translateY(-8px);
        }

        footer{
            background:#0d6efd;
            color:white;
            padding:20px;
            text-align:center;
        }
        
    